<h1>About us</h1>
<p>We are living the Erasmus Experience in Amsterdam. </p>

<p>We are developing this website to learn how to use Ruby on Rails</p>

<p>We want to show you have fun in this magic city </p>

<p>Javier and Andrea hope to see you soon around here</p)